{% extends "master_layout.html" %}

{% block content %}

    <div class="container" style="margin-top:40px;">
        <!-- if (session()->has('successful')) -->
            <!-- <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="alert alert-success"><strong>session()->get('successful')</strong></div>
              </div>
            </div> -->
        <!-- endif -->
        <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-6">
                <a href="/backend/admin/events/new"><button class="btn btn-success pull-left accent-bg-5"><i class="fa fa-plus"></i> Add New Event</button></a>
            </div>
            <div class="col-sm-6">
                <a href="/backend/admin/orders"><button class="btn btn-primary pull-right accent-bg-4">View Orders <i class="fa fa-arrow-right"></i></button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="item-list table table-striped" style="border:1px solid #ddd; margin-bottom:60px;">
                   <thead>
                      <tr>
                         <th>Event</th>
                         <th>Description</th>
                         <th>Organizers</th>
                         <th>Tickets Available</th>
                         <th></th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for event in event_list %}
                     <form name="eventinv-{{event.id}}" method="POST" action="" role="form">
                     {% csrf_token %}
                      <tr>
                         <td class="image hidden-xs"><img src="" alt="{{event.name}}"></td>
                         <td class="details">
                            <div class="clearfix">
                               <div class="pull-left no-float-xs">
                                  <a href="#" class="title">{{event.name}}</a>
                                  <div class="">
                                     {{event.desc}}
                                  </div>
                                  <span>Event Code: EID{{event.id}}</span>
                               </div>
                            </div>
                         </td>
                         <td class="unit-price hidden-xs"><span class="currency"></span>{{event.organizers}}</td>
                         <td class="total-price accent-2"><span class="currency"></span>{{event.tickets_available}}</td>
                         <td class="">
                           <div class="action pull-left no-float-xs">
                              <div class="clearfix row" style="display: inline-flex; margin-left:5px;">
                                 <input type="hidden" value="{{event.id}}" name="event_id">
                                 <button class="save col-md-3 btn accent-bg-8 accent-0" data-toggle="modal" style="padding: 0px 10px;" data-target="#myModal-{{event.id}}" type="button"><i class="fa fa-edit"></i></button>
                                 <button class="col-md-3 btn accent-bg-2 accent-0" style="height:30px; padding: 0px 10px;" type="submit" name="event_submit_type" value="event_delete"><i class="fa fa-trash-o"></i></button>
                                 <button class="col-md-5  btn accent-bg-5 accent-0"  data-toggle="modal" style="padding: 0px 10px; width:100%;" data-target="#myModal-{{event.id}}" type="button">Allocate Tickets</button>
                              </div>
                           </div>
                         </td>
                      </tr>
                      </form>
                      {% if form.errors %}
                     <ul>
                        {% for key,value in form.errors.items %} 
                           <li>{{ key|escape }} : {{ value|escape }}</li>
                        {% endfor %}
                     </ul>
                     {% endif %}

                      <!-- Modal -->
                      <div id="myModal-{{event.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header accent-bg-1">
                              <button type="button" class="close accent-0 accent-bg-0" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title accent-0"><i class="fa fa-edit"> Edit Event Information</i></h4>
                            </div>
                            <form method="POST" action="" role="form">
                                 {% csrf_token %}
                              <div class="modal-body">
                                <div class="row">
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <label>Event Name</label>
                                         <input type="text" value="{{event.name}}" class="form-control" name="{{form.name.name}}" placeholder="Edit Product Name">
                                      </div>
                                   </div>
                                   <div class="col-md-3">
                                      <div class="form-group">
                                         <label>Tickets Available</label>
                                         <input type="text" value="{{event.tickets_available}}" class="form-control" name="{{form.tickets_available.name}}" placeholder="Edit Product Stock">
                                       </div>
                                   </div>
                                   <div class="col-md-3">
                                       <div class="form-group">
                                          <label>End Date</label>
                                          <input type="date" value="{{event.end_time}}" class="form-control" name="{{form.end_time.name}}" placeholder="Edit End Date for event">
                                       </div>
                                    </div>
                                    <div class="col-md-3">
                                          <div class="form-group">
                                             <label>Organizers</label>
                                             {{form.organizers}}
                                          </div>
                                       </div>
                                   <div class="col-md-12">
                                      <div class="form-group">
                                         <label>Event Description</label>
                                         <textarea type="text" class="form-control" name="{{form.desc.name}}" placeholder="Edit Event Description">
                                            {{event.desc}}
                                         </textarea>
                                      </div>
                                   </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                <input type="hidden" value="{{event.id}}" name="event_id">
                                <button type="submit" class="btn btn-default accent-bg-5 accent-0" name="event_submit_type" value="event_edit">Save</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                   </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
