{% extends "master_layout.html" %}

{% block content %}
<div class="product-details-section details_page" style="margin-right:2%;">
  <div class="breadcrumb"><a href="/backend">Events List</a> &gt; {{event.name}}</div>
  <section class="product-details-product-img">
      <div class="product-details-product-image-holder">
          <div>
            <a><img src="" alt=""></a>
          </div>
      </div>
  </section>
  <section class="product-details-desc">
      <h1>{{event.name}}</h1>
      <div class="product-details-line"></div>
      <ul>
          <li><span>Event Name:</span> <a href="#">{{event.name}}</a></li>
          <li><span>Event Code:</span>{{event.id}}</li>
          <li><span>Availability: </span>
            {% if event.tickets_available > 0 %}
              <span class="accent-1">Tickets Available</span>
            {% else %}
              <span class="accent-2"><strong>All Tickets Sold Out</strong></span>
            {% endif %}
          </li>
      </ul>
      <div class="product-details-price">
          Price<strong> $10</strong>
      </div>
      <div class="product-details-line"></div>
      <form method="POST" action="" role="form">
          {% csrf_token %}
        <input type="hidden" name="command" />
        <input type="hidden" name="link" />
        <input type="hidden" name="productId" value="{{event.id}}"/>
        {% if event.tickets_available > 0 %}
          <button type="submit" class="product-details-btn product-details-btn-cart">Buy Ticket</button>
        {% else %}
          <button type="submit" style="opacity:0.4;" class="product-details-btn product-details-btn-cart" disabled>Buy Ticket</button>
        {% endif %}
        <label>Qty:</label>
        <input type="text" placeholder="1" class="product-details-qty-holder" name="quantity">
      </form>
      <div class="product-details-tabs">
          <ul class="product-details-nav product-details-nav-tabs">
              <li class="active" style="width:100%;"><a>Description</a></li>
          </ul>
          <div class="product-details-tab-content">
              <div class="product-details-tab-pane active tab-0">{{event.desc}}</div>
          </div>
      </div>
  </section>
</div>
{% endblock %}
