{% extends "master_layout.html" %}

{% block content %}
<div class="product-details-section details_page" style="margin-right:2%;">
  <div class="breadcrumb"><a href="/backend">Events List</a> &gt; {{event.name}}</div>
  <section class="product-details-product-img">
      <div class="product-details-product-image-holder">
          <div>
            <a><img src="http://www.placehold.it/200x200" alt=""></a>
          </div>
      </div>
  </section>
  <section class="product-details-desc">
      <form method="POST" action="" role="form">
          {% csrf_token %}
      <h1>{{event.name}}</h1>
      <div class="product-details-line"></div>
      <ul>
          <li><span>Event Name:</span> <a href="#">{{event.name}}</a></li>
          <li><span>Event Code:</span>{{event.id}}</li>
          <li><span>Availability: </span>
            {% if event.tickets_available > 0 %}
              <span class="accent-1">Tickets Available</span>
            {% else %}
              <span class="accent-2"><strong>All Tickets Sold Out</strong></span>
            {% endif %}
          </li>
      </ul>
      <div class="row">
        <div class="col-md-12">
            <table class="item-list table table-striped" style="border:1px solid #ddd; margin-bottom:0px; width:100%;">
                <thead>
                   <tr>
                      <th style="width:5%"></th>
                      <th>Description (Price)</th>
                      <th>Order Amount</th>
                      <th>Tickets Left</th>
                   </tr>
                </thead>
                <tbody>
                  {% for ticket in event.ticket_set.all %}
                  <tr>
                    <td class="unit-price hidden-xs" style="width:5%;">
                      <input type="checkbox" value="{{ticket.id}}" class="form-control" name="{{form.ticket.name}}_{{forloop.counter0}}">
                    </td>
                    <td class="unit-price hidden-xs">{{ticket.ticket_desc}} [ ${{ticket.price}} ]</td>
                    <td class="unit-price hidden-xs">
                      <input type="text" value="{{ticket.quantity}}" class="form-control" name="{{form.quantity.name}}_{{forloop.counter0}}" placeholder="Number of Tickets">
                    </td>
                    <td class="unit-price hidden-xs">{{ticket.status}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
      <div class="product-details-line"></div>
      <div class="product-details-price">
        <strong>COST TOTAL: $10</strong>
      </div>
          <input type="hidden" name="event_id" value="{{event.id}}"/>
          {% if event.tickets_available > 0 %}
            <button type="submit" class="product-details-btn product-details-btn-cart">Buy Ticket</button>
          {% else %}
            <button type="submit" style="opacity:0.4;" class="product-details-btn product-details-btn-cart" disabled>Buy Ticket</button>
          {% endif %}
      </form>
      <div class="product-details-tabs">
          <ul class="product-details-nav product-details-nav-tabs">
              <li class="active" style="width:100%;"><a>Description</a></li>
          </ul>
          <div class="product-details-tab-content">
              <div class="product-details-tab-pane active tab-0">{{event.desc}}</div>
          </div>
      </div>
  </section>
</div>
{% endblock %}
