{% extends "master_layout.html" %}

{% block content %}
    <div class="row" style="margin-top:30px; margin-bottom:40px;">
        <div class="col-sm-12 col-md-12">
          <div class="cart">
           <table class="item-list">
              <thead>
                 <tr>
                    <th class="hidden-xs">Product</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th class="hidden-xs">Price</th>
                    <th>Total</th>
                 </tr>
              </thead>
              <tbody>
                {% for cartItem in cart.cartinstance_set.all %}
                <form  method="POST" action="" role="form">
                  {% csrf_token %}
                 <tr>
                    <td class="image hidden-xs"><img src="http://placehold.it/40x40" alt="{{cartItem.ticket.event.name}}_{{cartItem.ticket.ticket_desc}}"></td>
                    <td class="details">
                       <div class="clearfix">
                          <div class="pull-left no-float-xs">
                             <a href="#" class="title">{{cartItem.ticket.event.name}} | {{cartItem.ticket.ticket_desc}}</a>
                             <div class="">
                                {{cartItem.ticket.event.desc}}
                             </div>
                             <span>Event Code: EID{{cartItem.ticket.event.id}}_{{cartItem.ticket.id}}</span>
                          </div>
                          <div class="action pull-right no-float-xs">
                             <div class="clearfix">
                                <button class="save" type="submit" name="cart_submit_type" value="cart_update"><i class="fa fa-save"></i></button>
                                <button class="btn accent-bg-2 accent-0" style="height:30px;" type="submit" name="cart_submit_type" value="cart_delete"><i class="fa fa-trash-o"></i></button>
                                <!-- </button> -->
                             </div>
                          </div>
                       </div>
                    </td>
                    <td class="qty">
                       <input type="text" value="{{cartItem.quantity}}" name="cart_item_quantity">
                       <input type="hidden" value="{{cartItem.id}}"  name="cart_item_id" />
                    </td>
                    <td class="unit-price hidden-xs"><span class="currency">$</span>{{ cartItem.ticket.price }}</td>
                    <td class="total-price accent-2"><span class="currency">$</span>{{ cartItem.total }}</td>
                 </tr>
                 </form>
                 {% endfor %}
              </tbody>
           </table>
           <table class="cart-summary">
              <tbody>
                 <tr>
                    <td class="terms">
                       <h5><i class="fa fa-info-circle"></i>Important Information</h5>
                       <p>All items purchased on this website can be returned within 30 business days of purchase. This ensures
                       a full refund of items purchased with no fee incurred. Costs incurred in mailing items would be included in
                     refund.</p>
                    </td>
                    <td class="totals">
                       <table class="cart-totals">
                          <tbody>
                             <tr>
                                <td>Sub Total</td>
                                <td class="price">${{ cart.total }}</td>
                             </tr>
                             <tr>
                                <td>Shipping</td>
                                <td class="price">$0.00</td>
                             </tr>
                             <tr>
                                <td class="cart-total">Total</td>
                                {% if total %}
                                <td class="cart-total price accent-2">${{ cart.total }}</td>
                                {% else %}
                                <td class="cart-total price accent-2">${{ cart.total }}</td>
                                {% endif %}
                             </tr>
                          </tbody>
                       </table>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
        <div class="cart-buttons clearfix">
          <a class="btn btn-block btn-bigger accent-0 accent-bg-2" href="/backend/checkout"><i class="icon-left fa fa-shopping-cart"></i> Go to checkout</a>
          <a class="btn btn-bigger accent-0 accent-bg-1" href="/backend/"><i class="icon-left fa fa-arrow-left"></i> Continue Shopping</a>
        </div>
      </div>
    </div>

{% endblock %}
