.product-details-section.details_page:after {
	content:"";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.product-details-section.details_page {
	padding: 24px 0;
	background: white;
	font-family: 'Oswald', sans-serif;
	margin-left:3%;
}
.product-details-section.details_page h1 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: normal;
}
.details_page .product-details h1 .product-details-price {
	color: #9d9f4e;
	padding-right: 10px;
	font-size: 34px;
}
.product-details form {
    margin-left: 0;
}
.product-details-section form {
	width: 100%;
	margin: 34px auto;
}
.product-details-section form tr {
    border: 1px solid #CCC;
}
.product-details-section form table {
	display:inline-flex;
	padding-left:1px;
}
.product-details-section form th {
  border-right: 1px solid #CCC;
  vertical-align: middle;
	background:#222;
	color:#FFF;
}
.product-details-section form td {
    /*padding: 15px 15px;*/
}
.product-details-section form td select,
.product-details-section form td input,
.product-details-section form td textarea {
    width: 100%;
	height:110%;
}
.product-details-section form input[type="submit"] {
    width: 100%;
    text-align: center;
    border: 1px solid #8e8e46;
    background: #9c9f4e;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
}
/*********************************
NEW PRODUCT DETAILS
*********************************/

.product-details-product-img::before, .product-details-product-img::after {
    box-sizing: border-box;
}

.product-details-product-img {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0px 0% 2% 3%;
    width: 90%;
    border: 1px solid rgb(217, 217, 217);
    background: rgb(255, 255, 255);
}

.product-details-product-img img {
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
}
.product-details-product-img .product-details-product-image-holder{
	top:0px;
	/*z-index:103;*/
	position:relative;
	padding:5%;
	background:#eee;
}
.product-details-product-img .image-additional {
}

.product-details-product-img .image-additional a {
    display: inline-block;
    padding: 4px;
}

.product-details-product-img .image-additional img {
    max-width: 74px;
    height: 74px;
}

.product-details-product-img .image-additional a:focus {
    outline: rgb(77, 199, 236) dotted 1px;
}

.product-details-desc {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: rgb(51, 51, 51);
    width: 90%;
    margin: 0px 20px;
    float: right;
}

.product-details-desc a {
    text-decoration: none;
}

.product-details-desc h1 {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 400;
    margin: 75px 0px 30px;
    text-transform: uppercase;
}

.product-details-desc ul {
    list-style: none;
    padding: 0px;
}

.product-details-desc ul li span {
    color: rgb(153, 153, 153);
}

.product-details-desc ul li a {
    color: rgb(68, 68, 68);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.product-details-desc .product-details-price {
    color: rgb(153, 153, 153);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    min-height: 30px;
    margin: 30px 0px 10px;
}

.product-details-desc .product-details-price strong {
    color: rgb(85, 85, 85);
    font-size: 18px;
    font-weight: 400;
}

.product-details-desc .product-details-line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-details-desc .product-details-btn {
    border: 1px solid rgb(238, 238, 238);
    padding: 5px 8px;
    font-size: 11px;
    font-family: montserrat;
    color: rgb(51, 51, 51);
    text-shadow: none;
    text-transform: uppercase;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    cursor: pointer;
    background-image: none;
    background-color: rgb(245, 245, 245);
}

.product-details-desc .product-details-btn:hover, .product-details-desc .product-details-btn:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.product-details-desc .product-details-btn-cart {
    color: rgb(255, 255, 255);
    padding: 12px 25px 10px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: #222;
}

.product-details-desc label {
    display: inline-block;
    /*margin-bottom: 5px;*/
	padding:0px 3px 0px 3px;
}

.product-details-desc input[type="text"] {
    text-align: left;
    float: none;
    padding: 6px 8px;
    border: 1px solid rgb(221, 221, 221);
}

.product-details-desc .product-details-qty-holder {
    width: 10%;
}

.product-details-desc .product-details-nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.product-details-desc .product-details-nav > li {
    position: relative;
    display: block;
}

.product-details-desc .product-details-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.product-details-desc .product-details-nav > li > a:hover, .product-details-desc .product-details-nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(238, 238, 238);
}

.product-details-desc .product-details-nav-tabs {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
}

.product-details-desc .product-details-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
	width:33.33%;
	text-align:center;
}

.product-details-desc .product-details-nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.product-details-desc .product-details-nav-tabs > li > a:hover {
    border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221);
}

.product-details-desc .product-details-nav-tabs > li.active > a, .product-details-desc .product-details-nav-tabs > li.active > a:hover, .product-details-desc .product-details-nav-tabs > li.active > a:focus {
    color: rgb(85, 85, 85);
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent;
    background-color: rgb(255, 255, 255);
	cursor:pointer;
}

.product-details-desc .product-details-tab-content > .product-details-tab-pane {
    display: none;
}

.product-details-desc .product-details-tab-content > .active {
    display: block;
}

.product-details-desc .product-details-tab-content {
    font-size: 13px;
    line-height: 26px;
    padding: 20px 5px;
    color: rgb(85, 85, 85);
}

.product-details-desc .product-details-tabs .product-details-nav-tabs {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}

.product-details-desc .product-details-tabs .product-details-nav-tabs > .active > a, .product-details-desc .product-details-nav-tabs > .active > a:hover {
    color: rgb(85, 85, 85);
    border-color:#B71C1C rgb(238, 238, 238) transparent;
}

.product-details-desc .product-details-nav > li > a:hover, .product-details-desc .product-details-nav > li > a:focus {
    outline: none;
}

.product-details-desc .product-details-tabs {
	margin-top:50px;
	/*margin:50px 6px 0px -25px;*/
}

.product-details-desc .product-details-nav-tabs a:hover{
	cursor:pointer;
}

.product-details-desc .product-details-tabs li a {
    color: rgb(119, 119, 119);
    padding: 10px 20px;
    font-family: montserrat;
    text-transform: uppercase;
}

.product-details-desc .product-details-tab-pane {
    font-size: 12px;
    color: rgb(136, 136, 136);
	text-align:justify;
}

.product-details-desc .product-details-tab-pane a {
    color: rgb(77, 199, 236);
    font-size: 12px;
}

.product-details-desc .clearfix::before, .product-details-desc .clearfix::after, .product-details-desc .product-details-nav::before, .product-details-desc .product-details-nav::after, .product-details-desc::before, .product-details-desc::after {
    display: table;
    content: ' ';
}

.product-details-desc .clearfix::before, .product-details-desc .clearfix::after, .product-details-desc .product-details-nav::before, .product-details-desc .product-details-nav::after, .product-details-desc::before, .product-details-desc::after {
    clear: both;
}

.breadcrumb {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: normal;
	background:none;
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:visited {
	color:#B71C1C;
}

/**********************************
  START OF PRODUCT PAGE
***********************************/
@media all and (min-width: 27em) {

	.product-details {
		margin-left:3%;
    	width: 40%;
    	float: left;
	}
}

@media all and (min-width: 40em) {
	.product-details {
		margin-left:3%;
    	width: 38%;
    	float: left;
	}
}
@media all and (min-width: 60em) {
	.product-details {
		margin-left:3%;
    	width: 40%;
    	float: left;
	}
}

@media screen and (min-width: 48em) {
  .product-details-desc {
	width: 50%;
	float: right;
	margin:-128px 10px 0 10px;
	/*margin: -11% 1% 0 2%;margin-top: 80px;*/
  }

  .product-details-desc .product-details-qty-holder {
    width: 11%;
  }
  .product-details-section form table {
	display: inline-flex;
	padding-left: 10px;
  }
  .product-details-product-img {
	width: 38%;
	float: left;
  }
/**********************************
  END OF PRODUCT PAGE
***********************************/
